@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
}

a {
  color: inherit;
}

.test-cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  margin-top: 2em;
  width: max-content;
}

.card-test {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 15em;
  width: 75em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  // border: 10px solid #ccc;
  border: 10px solid var(--dark-alt);
  text-decoration: none;
}

.card-test:hover .text-button {
  color: var(--color);
}

.card-test:hover {
  transform: rotate(0);
}

.card-test h1 {
  // margin: 0;
  // font-size: 1.5em;
  // line-height: 1.2em;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5em;
  padding: 0.6em;
  line-height: 1.2em;
  opacity: .8;
}

.card-test p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card-test .tags {
  display: flex;
}

.card-test .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  // background: var(--primary-alt);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card-test .tags .tag .tag-select {
  outline: none;
  border: none;
  color: white;
  font-size: 1em;
  background-color: transparent;
  
  optgroup {
    color: var(--color);
  }

  option {
    color: var(--color);
  }
}

.card-test:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card-test .tags .button {
  position: absolute;
  right: 0.75em;
  margin-right: 0.5em;
  transition: all, var(--transition-time);
}

.button .material-icons {
  color: white;
  font-size: 3em;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card-test .body {
  margin-bottom: 1em;
  transition: all, var(--transition-time);
}

.card-test .expect {
  margin-bottom: 1em;
  transition: all, var(--transition-time);
}

.card-test .tags .submit {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  transition: all, var(--transition-time);

  &.card-test:hover {
    color: var(--color);
  }
}

::placeholder {
  opacity: 0.8;
  color: white;
}

input {
  color: white;
}

.card-test .name-input {  
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  padding: 0.6em;
  line-height: 1.2em;
  opacity: .8;

  outline: none;
  border: none;
  border-bottom: 1px solid var(--light);
  background-color: transparent;
  font-size: 1.25em;
  font-weight: bold;
  
  transition: all, var(--transition-time);
}

.card-test .body-input {  
  position: absolute;
  top: 5em;
  left: 1em;
  height: 3.5em;
  width: 90%;
  padding: 0.6em;
  line-height: 1.2em;
  opacity: .8;

  outline: none;
  border: none;
  border-bottom: 1px solid var(--light);
  background-color: transparent;
  font-size: 0.75em;
  font-weight: bold;
  
  transition: all, var(--transition-time);
}

.card-test .expect-input {  
  position: absolute;
  top: 10em;
  left: 1em;
  height: 2.5em;
  width: 90%;
  padding: 0.6em;
  line-height: 1.2em;
  opacity: .8;

  outline: none;
  border: none;
  border-bottom: 1px solid var(--light);
  background-color: transparent;
  font-size: 0.75em;
  font-weight: bold;
  
  // color: var(--light);
  transition: all, var(--transition-time);
}

.card-test .domain-input {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  line-height: 2em;

  outline: none;
  border: none;
  border-bottom: 1px solid var(--light);
  background-color: transparent;
  
  // color: var(--light);
  transition: all, var(--transition-time);
}

.card-test .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card-test:before, .card-test:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card-test:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card-test:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card-test:hover {
  color: var(--color);
}

.card-test:hover .material-icons {
  color: var(--color);
}

.card-test:hover {
  ::placeholder {
    opacity: 0.8;
    color: var(--color);
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }

  input {
    color: var(--color);
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }

  textarea {
    color: var(--color);
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }
}

.card-test:hover:before, .card-test:hover:after {
  transform: scale(1);
}

.card-test-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

.new-card {
  .material-icons {
    color: var(--primary-alt);
    font-size: 5em;
  }

  &:hover {
    cursor: pointer;
  }
}

.center {
  display: block;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-test-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card-test {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}